#measure of central tendency

In [2]:
#mean
age=[12,34,56,78,90,23,45,67,89,10]

In [3]:
import numpy as np
np.mean(age)

50.4

In [16]:
import seaborn as sns
df=sns.load_dataset('tips')

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
np.mean(df['total_bill'])

19.78594262295082

In [7]:
#median
np.median(age)

50.5

In [8]:
from scipy import stats
stats.mode(age)

/tmp/ipykernel_91/3963985634.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([10]), count=array([1]))

In [10]:
np.median(df['total_bill'])

17.795

In [13]:
np.median(df['size'])

2.0

In [14]:
np.median(df['tip'])

2.9